<nav>
    <ul class="sidemenu">
        <li onclick="hideSideMenu()"><a href="/"><img src="/images/closecross.svg" height="28" width="28"></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/mars">Mars</a></li>
        <li><a href="/jupiter">Jupiter</a></li>
        <li><a href="/zogorbia">Zogorbia</a></li>
    </ul>
    <ul>
        <li><a href="/">Memais Agency</a></li>
        <li class="viewOnDesktop"><a href="/">Home</a></li>
        <li class="viewOnDesktop"><a href="/mars">Mars</a></li>
        <li class="viewOnDesktop"><a href="/jupiter">Jupiter</a></li>
        <li class="viewOnDesktop"><a href="/zogorbia">Zogorbia</a></li>
        <li class="menubutton" onclick=showSideMenu()><a href="#"><img src="/images/burgermenu.svg" height="28" width="28"></a></li>
    </ul>
</nav>