<div class="planets welcomebox">
    <h2>Welcome to Memais SpaceTravelAgency!</h2>
    <p> Introducing Galactic Expeditions - where Earth's boundaries dissolve, and the universe becomes your playground!</p>
    <a href="/mars">
        <div class="home-container">
            <h2>Mars</h2>
            <p>Join us on a cosmic journey to Mars, where rust-colored landscapes and towering peaks await your exploration. Experience the thrill of stepping foot on Martian soil and gazing into the pink-hued sky.</p>
        </div>
    </a> 
    <a href="/jupiter">
        <div class="home-container">
            <h2>Jupiter</h2> 
            <p>But why stop there? Dive into the swirling clouds of Jupiter, witness its mesmerizing Great Red Spot, and marvel at its vastness.</p>
        </div>
    </a> 
    <a href="/zogorbia">
        <div class="home-container">
            <h2>Zogorbia</h2>
        <p>For the truly adventurous, Zogorbia beckons with its bioluminescent forests and sentient rock formations. Traverse alien landscapes and immerse yourself in a realm of boundless wonder.</p>
        </div>
    </a> 
    <p> With expert guides and state-of-the-art spacecraft, Galactic Expeditions DO NOT ensures your safety but comfort as you embark on an adventure beyond imagination.</p> 
    <p><strong>The universe awaits - will you answer the call?</strong></p>
</div>