<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <body>
        <%- include("../partials/header") %>
        <div class="main-background"> 
            <div class="main-content">
                <%- include("../partials/welcome") %>
                <img src="./images/welcome2.jpg"/>    
            </div>
        </div>
        <%- include("../partials/footer") %>
    </body>
</html>